# Lab 2 Answers

In [10]:
#Libraries
import pandas as pd

In [8]:
data = pd.read_csv('marketing_customer_analysis.csv')

1. Show the dataframe shape.

In [18]:
print(data.shape)

(10910, 26)

2. Standardize header names.

In [22]:
data.columns = data.columns.str.lower().str.replace(' ', '_')
data.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

3. Which columns are numerical?

In [32]:
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns
print(numerical_columns)

Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')

4. Which columns are categorical?

In [34]:
categorical_columns = data.select_dtypes(include=['object']).columns
print(categorical_columns)

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

5. Check and deal with NaN values.

In [42]:
print(df.isna().sum())

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
month                               0
dtype: int64

6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter, ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [55]:
date_cols = ['months_since_last_claim', 'months_since_policy_inception']
for col in date_cols:
    df[f'{col}_month'] = pd.to_datetime(df[col]).dt.month

df['month'] = df[[f'{col}_month' for col in date_cols]].max(axis=1)
q1_df = df[(df['month'] >= 1) & (df['month'] <= 3)]

print(q1_df)

       unnamed:_0 customer       state  customer_lifetime_value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

             policy renew_offer_type sales_channel  total_claim_amount  \
0      Corporate L3           Offer3         Agent          292.800000
1       Personal L3           Offer4   Call Center          744.924331
2       Personal L3           Offer3   Call Center          480.000000
3      Corporate L3           Offer2        Branch          484.013411
4       Personal L2           Offer1        Branch          707.925645
...             ...              ...           ...                 ...
10905   Personal L1           Offer3           Web         1214.400000
10906   Personal L3           Offer2        Branch          273.018929
10907  Corporate L3           Offer1           Web          381.306996
10908   Personal L1           Offer1        Branch          618.288849
10909   Personal L1           Offer4           Web         1021.719397

       vehicle_class  vehicle_size  vehicle_type  month  \
0      Four-Door Car       Medsize           NaN    1.0
1      Four-Door Car       Medsize           NaN    1.0
2                SUV       Medsize             A    1.0
3      Four-Door Car       Medsize             A    1.0
4      Four-Door Car       Medsize           NaN    1.0
...              ...           ...           ...    ...
10905     Luxury Car       Medsize             A    1.0
10906  Four-Door Car       Medsize             A    1.0
10907     Luxury SUV       Medsize           NaN    1.0
10908            SUV       Medsize             A    1.0
10909            SUV       Medsize           NaN    1.0

      months_since_last_claim_month months_since_policy_inception_month
0                               1.0                                   1
1                               1.0                                   1
2                               1.0                                   1
3                               1.0                                   1
4                               NaN                                   1
...                             ...                                 ...
10905                           NaN                                   1
10906                           1.0                                   1
10907                           1.0                                   1
10908                           1.0                                   1
10909                           1.0                                   1

[10910 rows x 29 columns]